/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Стили для page*/

.page {
  width: calc(100vw * (700 / 1440));
  min-width: 430px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: var(--main-color);
  font-family: var(--font-main);
  background: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-content);
}

/* Стили для header (шапка сайта)*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  border: 2px solid var(--main-color);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  font-family: var(--font-accent);
  background-color: var(--backgroud-color);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/* Стили для main */
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Стили для post */
.post {
  border: 2px solid var(--main-color);
  background-color: var(--backgroud-color);
}

.post__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.post__cover {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.post__cover__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.post__cover__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-weight: var(--font-weight-content);
  font-size: 14px;
  text-shadow: 0 0 1px var(--backgroud-color);
}

@supports (
  (
      (text-stroke: 1px var(--backgroud-color)) or
        (-webkit-text-stroke: 1px var(--backgroud-color))
    )
    and (mix-blend-mode: hard-light)
) {
  .post__cover__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--backgroud-color);
    text-stroke: 1px var(--backgroud-color);
    mix-blend-mode: hard-light;
  }
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-weight-content);
}

.post__buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
  padding-bottom: 3px;
}

/* Стили для section (секция main)*/

.section {
  display: flex;
  justify-content: center;
}

/* Стили для card */

.card__icon-button {
  position: relative;
  display: flex;
  align-items: end;
  min-height: 38px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.card__icon-button:focus-within::before {
  opacity: 100;
  z-index: 0;
}

.card__like-button {
  width: 130px;
  min-height: 38px;
  padding: 9px 17px;
}

/* Стили для button */

.button__container {
  background: var(--backgroud-color);
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background: var(--backgroud-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.section__button {
  gap: 8px;
  min-height: 55px;
  padding: 15px 20px;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-content);
  font-size: 14px;
  line-height: 90%;
  color: var(--button-text-color);
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover .button__text {
  color: var(--backgroud-color);
}

.button svg {
  transition: color 0.5s ease-in-out;
}

.button:hover svg {
  color: var(--backgroud-color);
}

@supports (mix-blend-mode: difference) {
  .button .button__text {
    transition: none;
  }

  .button svg {
    transition: none;
    mix-blend-mode: difference;
  }

  .button:hover .button__text {
    color: var(--button-text-color);
  }

  .button:hover svg {
    color: var(--button-text-color);
  }

  .button__text {
    mix-blend-mode: difference;
  }
}

/* Стили для dialog */
dialog::backdrop {
  opacity: 0.75;
  background: var(--main-color);
}

.dialog {
  width: calc(100vw * (352 / 1440));
  min-width: 341px;
  border: 2px solid var(--main-color);
  padding: 30px;
  background: var(--backgroud-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--main-color);
}

.dialog__warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

.button__icon {
  min-width: 20px;
  height: auto;
}

/* Стили для цветовых фильтров изображений */
.image_brightness {
  filter: brightness(130%);
}

.image_contrast {
  filter: opacity(0.8);
}

.image_blur {
  filter: blur(0.3rem);
}

.image_opacity {
  filter: contrast(150%);
}

.image_grayscale {
  filter: grayscale(0.8);
}

.image_saturate {
  filter: saturate(158%);
}

.image_sepia {
  filter: sepia(80%);
}

.image_combinate {
  filter: contrast(200%) blur(0.3rem);
}

/* Блок медиа-запросов */

@media (width <= 375px) {
  .page {
    width: 100%;
    min-width: 320px;
  }

  .section__button {
    flex-direction: column;
  }

  .section__button svg {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 40px;
  }
}
